.gc-logo{
    height: 40px;
    padding-top: 5px;
}

.title{
    text-align: center;
}

.container, .donation-form{
    display: flex;
    flex-direction: column;
    justify-content: center;  
}

.donation-form{
    padding: 10px
}

.card{
    width: 200px;
    background-color: white;
    padding: 5px;
    margin: 5px;
    text-align: center;
}

.expired{
    width: 200px;
   opacity: 50%;
}

.card-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.single-pledge{
    text-align: center;
}

.progress-bar{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    
}